<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - versio 0.5</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Northwind (@ViewBag.LoggedStatus)</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" href="~/home/index">Home <span class="sr-only">(current)</span></a></li>
                <li class="nav-item"><a class="nav-link" href="~/home/logins">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="~/home/logout">Logout</a></li>
                <li class="nav-item"><a class="nav-link" href="~/home/About">About</a></li>
                <li class="nav-item"><a class="nav-link" href="~/home/Map">Map</a></li>
                <li class="nav-item"><a class="nav-link" href="~/Products/index">Tuotteet</a></li>
                <li class="nav-item"><a class="nav-link" href="~/Products/ProdCards">ProdCards</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" style="">
                        <a class="dropdown-item" href="~/Products/index">Tuotteet</a>
                        <a class="dropdown-item" href="~/Products/index">Tuotteet</a>
                        <a class="dropdown-item" href="~/Shippers/index">Rahtarit</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="https://www.yle.fi">Ylen sivut</a>
                    </div>
                </li>
            </ul>

        </div>
    </nav>

    <div class="container-fluid">
        @RenderBody()
        <hr />
        <footer class="oma-footer">
            @using System.Globalization
            @{
                string loggausInfo = "";
                if (Session["UserName"] == null)
                {
                    loggausInfo = "Et ole kirjautunut järjestelmään";
                }
                else
                {
                    loggausInfo = "Olet kirjatunut käyttäjänä: " + Session["UserName"];
                }
            }
            <p>&copy; Careeria Northwind-sovellus, @loggausInfo, tänään on @DateTime.Today.ToString("D", CultureInfo.CreateSpecificCulture("fi-FI"))</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
